[user]
	name = mxngls
	email = Maximilian.e.hoenig@gmail.com
[init]
	defaultBranch = main
[ui "color"]
	ui = always
[color]
	ui = true
[merge]
	tool = nvim -d
	conflictStyle = zdiff3
[pull]
  rebase = false
	ff = only
[push]
	default = tracking
	autoSetupRemote = true
[help]
	autocorrect = 0
[url "git@github.com:"]
	insteadOf = gh:
[github]
	user = mxngls
[diff]
	algorithm = patience
	compactionHeuristic = true
	tool = nvim -d
[protocol]
	version = 2
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[branch "master"]
	rebase = true
[branch "main"]
	rebase = true
[credential]
	helper = osxkeychain
[core]
	quotepath = off
	editor = nvim
[gui]
	encoding = utf-8
[gc]
	reflogexpireunreachable = 90
