$include /etc/inputrc

set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set completion-ignore-case on
set visible-stats On
set editing-mode vi

"\C-l": clear-screen
"\C-k": history-search-backward
"\C-j": history-search-forward

# shape cursor based on input mode
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"

set keymap vi-command
"gg":   beginning-of-history
"G":    end-of-history
"H":    beginning-of-line
"L":    end-of-line
"U":    vi-undo
"R":    vi-redo


set keymap vi-insert
TAB: menu-complete
